@import "colors";

#randomInt {
  background-color: $main;
  border: 1px solid black;
  color: white;
  padding: 5px;
}

#randomRange {
  background-color: $secondary;
  border: 1px solid black;
  color: white;
  padding: 5px;
}